<div>
  <div class=users>
  <h5>Active Users</h5>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Email</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <% @users.each do |user| %>
            <td><%= user.first_name %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>